* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

div {
  /*width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;*/
}

h1 {
  font-size: 32px;
  font-family: Inter, sans-serif;
}

p {
  font-size: 16px;
  font-style: italic;
}

.log {
  padding: 5px;
  margin-left: 10px;
  overflow-y: scroll;
  border: 1px solid black;
  white-space: pre-wrap;
  height: 40%;
  width: 40%;
  font: 1em monospace;
  margin-top: 10px;
}

